:root {
  background-color: $bg-root;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $font-family-base !important;
  font-weight: 400;
  font-size: $font-size-base;
  list-style-type: none;
}

.btn {
  border: 0;
  background-color: $dark;
  border-radius: 15px;
  color: $ligth;
  font-weight: 600;
  padding: 10px 16px;

  &:hover {
    cursor: pointer;
    background-color: darken($color: $dark, $amount: 5);
    color: $red;
    text-decoration: line-through;
  }
}

.btn-secondary {
  background-color: $green;
  border-radius: 21px;
  color: $ligth !important;
  padding: 0 15px !important;
  &:hover {
    color: $red !important;
    text-decoration: line-through;
    background-color: darken($color: $green, $amount: 5) !important;
  }
}

.topic {
  background-color: $bg-ligth;
  border: 1px solid $ligth;
  border-radius: 15px;
}
