.feed-view {
  &__wrapper {
    margin: 0 24px;
    &--head {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 300px;

      .member-only {
        span {
          font-size: 0.95rem;
          font-family: "source-serif-pro";
          color: $gray;
        }
      }

      &-title {
        margin-top: 1rem;
        font-size: 42px;
        font-weight: 700;
        line-height: 52px;
      }

      p {
        font-size: 1.7rem;
        line-height: 28px;
        font-family: "source-serif-pro";
        padding: 8px 0 24px;
        color: $gray;
      }

      &-creator {
        display: flex;
        align-items: center;
        padding-bottom: 8px;

        .avatar {
          display: flex;
          background-image: url("https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid rgb(242, 242, 242);
          border-radius: 50%;
          height: 44px;
          width: 44px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }

          .category {
            position: relative;
            left: -8px;
            top: 20px;
            img {
              height: 24px;
              width: 24px;
              border-radius: 50%;
            }
          }
        }
        .publication {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          width: 100%;

          &--author {
            display: flex;
            align-items: center;
            span {
              color: $dark;
              font-size: 0.95rem;
              font-weight: 400;
              line-height: 20px;
              margin-bottom: 2px;
            }
            .icon {
              margin-left: 2px;
              img {
                width: 0.95rem;
                height: 0.95rem;
              }
            }
            button {
              color: $green;
              font-size: 0.95rem;
              font-weight: 400;
              line-height: 20px;
              border: 0;
              background-color: transparent;
              margin-left: 2px;
              &:hover {
                color: darken($color: $green, $amount: 2);
                cursor: pointer;
              }
            }
          }

          &--info {
            display: flex;
            align-items: center;
            span {
              color: $gray;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 20px;
            }
          }

          .separation {
            color: $gray;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 600;
            padding: 0 8px;
          }
        }
      }

      &-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 45px;
        padding: 3px 8px;
        margin-top: 32px;
        border-top: 1px solid rgb(242, 242, 242);
        border-bottom: 1px solid rgb(242, 242, 242);

        .publish {
          display: flex;
          gap: 12px;
          &--group {
            display: flex;
            align-items: center;
            button {
              border: 0;
              background-color: transparent;
              &:hover {
                cursor: pointer;
              }
            }
            span {
              padding-left: 2px;
              color: $gray;
              font-size: 0.8rem;
            }
          }
        }
        .share {
          display: flex;
          gap: 16px;
          button {
            border: 0;
            background-color: transparent;
            &:hover {
              color: $red;
              cursor: pointer;
            }
          }
        }
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      align-items: center;
      &--cover {
        background-image: url("https://img.freepik.com/vector-premium/vector-icono-imagen-predeterminado-pagina-imagen-faltante-diseno-sitio-web-o-aplicacion-movil-no-hay-foto-disponible_87543-11093.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 40px;
        width: 700px;
        height: 470px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      &--content {
        margin-top: 30px;
      }
    }
  }
}
