.discover_topics {
  padding-bottom: 32px;
  h2 {
    color: $dark;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 16px;
  }

  &__wrapper {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    .topic {
      padding: 8px 16px;
      margin: 0 8px 10px 0;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 20px;
    }
  }

  button {
    background-color: transparent;
    padding-top: 14px;
    font-size: 0.95rem;
    font-weight: 500;
    color: $green;
    border: 0;

    &:hover {
      cursor: pointer;
      color: $dark;
    }
  }
}
