.main-home {
  display: flex;
  height: 470px;
  justify-content: center;
  border-top: 1px solid $ligth;
  padding-top: 96px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 63%;
  }
}
