.feed-item {
  margin-bottom: 48px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    &--data {
      width: 66%;
      .creator {
        display: flex;
        align-items: center;
        padding-bottom: 8px;

        .avatar {
          height: 20px;
          width: 20px;
          background-image: url("https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          border: 1px solid rgb(242, 242, 242);

          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          color: $dark;
          font-size: 0.81rem;
          font-weight: 600;
          line-height: 16px;
          padding-left: 8px;
        }
      }

      .story {
        padding-bottom: 10px;
        &--title {
          color: $dark;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0;
          font-size: 1.3rem;
          &:hover {
            cursor: pointer;
          }
        }
        &--description {
          padding-top: 6px;
          color: $gray;
          font-size: 0.9rem;
        }
      }

      .summary {
        display: flex;
        justify-content: space-between;

        &-info {
          width: 69%;
          display: flex;
          align-items: center;
          .topic {
            color: $gray;
            font-size: 0.8rem;
            padding: 1px 4px;
            margin: 0 8px;
          }
          .date {
            color: $gray;
            font-size: 13px;
          }
        }

        &-save {
          img {
            height: 25px;
            width: 25px;
          }
        }
      }
    }

    &--cover {
      background-image: url("https://img.freepik.com/vector-premium/vector-icono-imagen-predeterminado-pagina-imagen-faltante-diseno-sitio-web-o-aplicacion-movil-no-hay-foto-disponible_87543-11093.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 200px;
      height: 134px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
