.top-nav {
  span {
    margin-right: 20px;
    font-size: 0.85rem;
    & :hover {
      cursor: pointer;
    }
  }

  .btn-secondary {
    border: 0 !important;
    padding: 10px 16px !important;
    border-radius: 15px !important;
    font-weight: 600 !important;
    cursor: pointer;
  }
}
